<form action="/auth/edit/:id" method="POST">
    <p>
        <label>Email:</label><input type="text" value="" name="email" /><br/><br/>
        <label>Person Type:</label><input type="text" value="" name="ptype" /><br/><br/>
        <label>Password:</label><input type="text" value="" name="pwd" /><br/><br/>
        <button type="submit">Update</button>
    </p>
</form>
