<h1>
    Authentication
</h1>
<table>
    <tr>
        <th>Email</th>
        <th>Person Type</th>
        <th>Password</th>
        <th>Action</th>
    </tr>
    {{#each data}}

    <tr>
        <td>{{this.email}}</td>
        <td>{{this.ptype}}</td>
        <td>{{this.password}}</td>
        <td>
            <a href="/auth/edit/:id">Edit</a>
            <a href="/auth/delete/:id">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>