<form action="/product/edit/:id" method="POST">
    <p>
        <label>Product Name:</label><input type="text" value="" name="pname" /><br/><br/>
        <label>Product Image:</label><input type="file" value="" name="pimage" /><br/><br/>
        <label>Product Category:</label><input type="text" value="" name="pcategpry" /><br/><br/>
        <label>Price:</label><input value="" name="price" /><br/><br/>
        <button type="submit">Update Product</button>
    </p>
</form>
